.cont{

    display: inline-block;
}


#lhs{

  
    height: 800px;
    background-color: rgba(70, 70, 70,0.3 );
}



#rhs{

   
    height: 800px;
    background-color: rgba(220, 220, 220,0.5 );
    
}


#btn1{
  
    margin-top: 20px;

}

#btn2{

    margin-top: 20px;
}